<table id="businesses">
  <thead>
    <tr>
      <th>Business</th>
      <th></th>
      <th>Area</th>
      <th>Product or Service</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td class="business-logo"><%= image_tag(item.logo_url, :class => 'business-logo-image', :alt => item.name) if item.logo.present? %>
        </td>
        <td class="business-name">
          <a href="http://<%= item.website %>">
              <%= item.name %>
          </a>
        </td>
        <td class="business-area"><%= item.city %>
          <p class="business-address"><%= item.address %></p>
        </td>
        <td class="business-type"><%= item.category %>
          <p class="business-description"><%= item.description %></p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>