/**
*** Global styling
**/

html {
  box-sizing: border-box;
}

*, *:before,*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  border: 0;
}

table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
}

table, td, tr {
  vertical-align: baseline;
  border: 0;
}

body {
  font: normal 1.125rem "franklin-gothic-urw", Verdana, sans-serif;
  line-height: 1.4;
  color: #262626;
  margin: 0;
}

a {
  color: #9c1d1f;
  text-decoration: none;
  font-weight: bold;
}

  a:hover, a:focus {
    color: #661a1a;
  }

p {
  margin: 0;
}

/**
*** Javascript fallbacks
**/

.no-js {
  display: none;
}


/**
*** Site header
**/

.site-header {
  margin: 0 auto;
  height: 430px;
  padding: 50px 0;
  text-align: center;
  background: #9d1d20 url('header.jpg') bottom center repeat-x;
  background-size: 100%;
}

  h1 {
    display: block;
    width: 500px;
    height: 240px;
    margin: 0 auto;
    font-size: 0;
    background: url('madewithloveinohio.png') center center no-repeat;
    background-size: 481px 198px;
  }

  .site-header p {
    width: 25%;
    margin: 10px auto;
    font-family: "ff-tisa-web-pro", Georgia, serif;
    color: #fff;
  }


.site-footer {
  clear: both;
  margin: 50px auto 0 auto;
  padding: 50px;
  text-align: center;
  background: #dda836;
  color: #fff;
  border-top: 6px solid #f8eed7;
  font-family: "ff-tisa-web-pro", Georgia, serif;
}

  .ohio-shape {
    position: relative;
    top: 3px;
    left: 3px;
    height: 20px;
    fill: #fff;
  }

/**
*** Table styling
**/


@media all and (min-width: 1000px) {
  table {
    width: 80%;
    margin-top: 40px;
  }
}

td, th {
  padding: 20px 20px 20px 0;
}

table > thead > tr,
table > tbody > tr,
table > tfoot > tr {
  border-top: 1px solid rgba(0,0,0,.04);
}

table > thead > tr {
  border-bottom: 2px solid #f8eed7;
}

table > thead:first-child > tr:first-child {
  border-top: 0;
}

@media all and (min-width: 1000px) { 
  .business-area {
    width: 28%;
  }

  .business-name {
    width: 22%;
  }

}

th {
  text-align: left;
  font-size: .85rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  cursor: pointer;
  color: #dda836;
}

  th:hover,
  th.sorted {
    color: #524839;
  }

  /* jquery.tablesort arrows */

  th.sorted.ascending:after {
    content: " \2191";
  }

  th.sorted.descending:after {
    content: " \2193";
  }

.business-address,
.business-description {
  font-size: .8rem;
  font-family: "ff-tisa-web-pro", Georgia, serif;
  letter-spacing: .03em;
  color: #817474;
}

.business-logo {
  vertical-align: top;
  opacity: .8;
}

  .business-logo-image {
    width: 80px;
}
