<!DOCTYPE html>
<html>
<head>
  <title>Made with Love in Ohio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//use.typekit.net/jru4nmp.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="site-header">
  <h1>Made with Love in Ohio</h1>
  <p>Exceptionally beautiful projects made with love in the heart of the Midwest.</p>
</header>

  <%= yield %>

<footer class="site-footer">
  <p>Made with love in Ohio. &hearts;
  	<svg version="1.1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	 x="0px" y="0px" viewBox="0 0 50.8 49.1" enable-background="new 0 0 50.8 49.1"
	 xml:space="preserve" class="ohio-shape">
	<g>
		<path d="M50.8,1.6c0-1.4,0-2.4-1.4-1c-3.4,3-6.6,1-9.9,4.3c-1,1.1-1.8,0.4-3.3,0.9c-1.5,0.4-3.2,2.1-4.6,2.7
			c-2.5,1.2-4.5,1.3-6.1-1.3c-0.3-0.4-1.1-0.5-1.7-0.7c-0.6,1.9-1.4,0.6-2.2,0.2c-2-1-6-4.8-8-4.8c-2.9,0-7.8,0-13.6,0
			c0,7.2,0,13.5,0,34.7c0,0.6,5.3,5.6,6.1,5.7c2.4,0.3,4.1,2.6,5.7,4.5c0.1,0.1,1.4,0.5,1.5,0.5c1.4-2,4.1,0.4,5,0.1
			c1.1-0.3,4.7-1.6,5-1.3c1.4,1.4,3.4,1.1,4.6,2.7c1.4,1.9,4.1-4.6,5.3-6.4c0.2-0.2,4-1,4.1-2.7c0.1-2.8,6.9-7,8.5-8.3
			c0.8-2.5,3.2-7.4,3.6-9.2c0.2-0.9-0.2-4.1,0.1-5.1C50.2,14.4,50.7,8.5,50.8,1.6z"/>
	</g>
	</svg>

</p>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56026709-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
